@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primary: #4c0cc4;
    --cor-secondary: #313131;
    --cor-third: #8de0fb;
    --cor-quarter: #f3cad0;
    --cor-fifth: #000;
    --details: #fff;

    --fonte-primary: 'Trebuchet MS', sans-serif;
    --fonte-secondary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box; /*border-box fill the section if it has borders and padding so that nothing comes out from inside the country element */
    background-color: rgba(0, 0, 0, 0);
    color: var(--details);
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}

body::before {  /* Create a separate background layer to opacify other elements along the background (image)*/
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/images/back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4; /*  opacity */
    z-index: -1; /* Place the bottom layer behind the main content */
}

.bar {
    padding: 2% 0% 0% 15%;
}

.bar__menu {
    display: flex;
    gap: 80px;
}

.bar__menu__link {
    font-family: var(--fonte-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-primary);
    text-decoration: none;
}

homebox {
    padding: 5% 15%;
    display: flex; /* deixa os elementos em linha */
    align-items: center;
    justify-content: space-between; 
    gap: 82px;
}

homebox__section {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

homebox__section__feature {
    color: var(--cor-secondary);
    font-size: 1.8rem;
    text-align: center;
    font-family: var(--fonte-primary);
    font-weight: 100;
}

.feature-div {
    color: var(--cor-primary);
    font-weight: 600;
}

homebox__section__text {
    font-size: 1.2rem;
    font-family: var(--fonte-secondary);
    text-align: center;
    font-weight: 500;
    color: var(--cor-secondary);
}

homebox__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

homebox__links__subfeature {
    font-family: var(--fonte-primary);
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--cor-primary);
}

homebox__links__navigation {
    display: flex;
    justify-content: center;
    gap: 13px;
    background-color: var(--cor-third);
    width: 60%;
    text-align: center;
    border-radius: 20px;
    font-size: 1.3rem;
    padding: 13px 0; /* vertical, horizontal */
    text-decoration: none;
    color: var(--cor-fifth);
    font-family: var(--fonte-secondary);
    font-weight: 400;
    border: 1px solid #492361;
    align-items: center;
}

homebox__links__link:hover {
    background-color: var(--cor-quarter);
}

.figure {
    border: 1px dashed var(--cor-secondary);
    max-width: 50%;
}

.rodape {
    position: absolute; 
    bottom: 0;
    width: 100%;
    color: var(--details);
    background-color: #e1e5f8;
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-secondary);
    font-size: 1.2rem;
    font-weight: 400;
}

.bar__about {
    padding: 2% 0% 0% 15%;
}

.bar__menu__about {
    display: flex;
    gap: 80px;
}


homebox__about {
    padding: 3% 5%;
    display: flex; /* deixa os elementos em linha */
    align-items: center;
    justify-content: space-between; 
    gap: 82px;
}

homebox__section__about {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

homebox__section__feature__about {
    color: var(--cor-primary);
    font-size: 1.2rem;
    text-align: center;
    font-family: var(--fonte-primary);
    font-weight: 100;
}

homebox__section__text__about {
    font-size: 1rem;
    font-family: var(--fonte-secondary);
    text-align: left;
    font-weight: 500;
    color: var(--cor-secondary);
}

.figure__about {
    max-width: 400px;
    border: 1px dashed var(--cor-secondary);
}


@media (max-width: 1200px) {
    .bar {
        padding: 10%;
    }

    .bar__menu {
        justify-content: center;
        gap: 50px;
    }

    homebox {
        flex-direction: column-reverse;
        padding: 5%;
    }    

    homebox__section {
        width: auto; /*ou 100%*/
    }


    .bar__about {
        padding: 5%;
    }

    .bar__menu__about {
        gap: 50px;
    }

    homebox__about{
        flex-direction: column-reverse;
        padding: 5%;
    }

    homebox__section__about {
        width: auto; /*ou 100%*/
    }

    .figure__about {
        max-width: 300px;
    }

}
